@model IEnumerable<Gerenciador.Entidades.Transferencia>

@{
    ViewBag.Title = "Transferências de Arquivos";
}

<h2>Transferências de Arquivos</h2>

 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RepositorioOrigem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepositorioDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicioProcessamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataTerminoProcessamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sistema)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalArquivosTransferidos)
        </th>
  
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RepositorioOrigem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepositorioDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicioProcessamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataTerminoProcessamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sistema)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalArquivosTransferidos)
        </td>
       
    </tr>
}

</table>
